.about-intro {
  margin: 5vmin;
  margin-top: 10vmin;
  color: white;
  font-size: 6vmin;
}

.about-name {
  border-radius: 50px;
  padding: 5px;
  padding-inline: 30px;
  background-color: teal;
  color: white;
  margin: 5vmin;
  font-size: 10vmin;
  font-weight: bold;
  text-align: center;
  transition: font-size 100ms ease-out 200ms;
  transition: background-color 100ms ease-out 200ms;
}

.about-name:hover {
  background-color: transparent;
  font-size: 15vmin;
}

.about-title-intro {
  margin: 5vmin;
  margin-bottom: 10vmin;
  color: white;
  font-size: 6vmin;
}

.about-title {
  color: white;
  font-size: 6vmin;
  transition: font-size 200ms ease-out 100ms;
}

.about-title:hover {
  font-size: 10vmin;
}
